USE [master]
GO
/****** Object:  Database [Drivers]    Script Date: 06.04.2021 21:58:08 ******/
CREATE DATABASE [Drivers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Drivers', FILENAME = N'S:\Programs\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Drivers.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Drivers_log', FILENAME = N'S:\Programs\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Drivers_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Drivers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Drivers]
GO
/****** Object:  Table [dbo].[Amogus]    Script Date: 06.04.2021 21:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amogus](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[middlename] [nvarchar](50) NULL,
	[passport] [float] NULL,
	[postcode] [int] NULL,
	[address] [nvarchar](50) NULL,
	[address_life] [nvarchar](50) NULL,
	[company] [nvarchar](50) NULL,
	[jobname] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[photo] [nvarchar](50) NULL,
 CONSTRAINT [PK_Amogus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auto]    Script Date: 06.04.2021 21:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auto](
	[id] [int] NOT NULL,
	[VIN] [nvarchar](50) NOT NULL,
	[Manufacturer] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Year] [int] NOT NULL,
	[Weight] [int] NULL,
	[Color] [int] NULL,
	[Engine_Type] [nvarchar](50) NULL,
	[type_of_drive] [nvarchar](50) NULL,
 CONSTRAINT [PK_auto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[driver_licence]    Script Date: 06.04.2021 21:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[driver_licence](
	[id] [int] NOT NULL,
	[licence_date] [nvarchar](50) NOT NULL,
	[expire_date] [nvarchar](50) NOT NULL,
	[categories] [nvarchar](50) NOT NULL,
	[licence_series] [float] NOT NULL,
	[licence_number] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_driver_licence] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log_in]    Script Date: 06.04.2021 21:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_in](
	[id] [int] NOT NULL,
	[user] [nvarchar](50) NOT NULL,
	[pass] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Log_in] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Amogus] ([id], [name], [middlename], [passport], [postcode], [address], [address_life], [company], [jobname], [phone], [email], [photo]) VALUES (1, N'Alonso@Hopkins', N'Caleb', 8999791387, 760832, N'452 Cobblestone St, 452', N'Washington', N'Global Gillette', N'Reporter', N'+7(916)583-9233', N'skippy@icloud.com', N'001-happy-18.png')
INSERT [dbo].[Amogus] ([id], [name], [middlename], [passport], [postcode], [address], [address_life], [company], [jobname], [phone], [email], [photo]) VALUES (2, N'Kaydence@Sellers', N'Susannah', 4451594645, 807042, N'Hyattsville, MD 20782', N'Managua', N'Coca-Cola', N'Elementary School Teacher', N'+7(916)362-2690', N'isotopian@sbcglobal.net', N'002-cool-5.png')
INSERT [dbo].[Amogus] ([id], [name], [middlename], [passport], [postcode], [address], [address_life], [company], [jobname], [phone], [email], [photo]) VALUES (3, N'Finnegan@Bray', N'Brighton', 8477349968, 83282, N'9648 Philmont Lane, 21', N'Doha', N'Harley-Davidson Motor Company', N'Childcare worker', N'+7(916)745-0096', N'isaacson@att.net', N'003-happy-17.png')
GO
INSERT [dbo].[auto] ([id], [VIN], [Manufacturer], [Model], [Year], [Weight], [Color], [Engine_Type], [type_of_drive]) VALUES (1, N'WBAKG7C54DJ746310', N'BMW', N'1-Series', 2009, 1794, 116, N'3', N'front-wheel drive')
INSERT [dbo].[auto] ([id], [VIN], [Manufacturer], [Model], [Year], [Weight], [Color], [Engine_Type], [type_of_drive]) VALUES (2, N'JN1CV6APXCM884333', N'BMW', N'1-Series', 2018, 1523, 118, N'3', N'front-wheel drive')
INSERT [dbo].[auto] ([id], [VIN], [Manufacturer], [Model], [Year], [Weight], [Color], [Engine_Type], [type_of_drive]) VALUES (3, N'2C4RDGCG2FR292116', N'BMW', N'2-Series', 1994, 1750, 120, N'2', N'front-wheel drive')
GO
INSERT [dbo].[driver_licence] ([id], [licence_date], [expire_date], [categories], [licence_series], [licence_number], [Status]) VALUES (1, N'', N'07.03.2027', N'B', 5640, 613073, N'Active')
INSERT [dbo].[driver_licence] ([id], [licence_date], [expire_date], [categories], [licence_series], [licence_number], [Status]) VALUES (2, N'08.02.2018', N'9/21/2023', N'B', 7465, 904246, N'Active')
INSERT [dbo].[driver_licence] ([id], [licence_date], [expire_date], [categories], [licence_series], [licence_number], [Status]) VALUES (3, N'12/31/2018', N'1/25/2025', N'B, A', 6750, 769897, N'Active')
GO
INSERT [dbo].[Log_in] ([id], [user], [pass]) VALUES (1, N'amogus', N'1234')
INSERT [dbo].[Log_in] ([id], [user], [pass]) VALUES (2, N'admin', N'12345')
INSERT [dbo].[Log_in] ([id], [user], [pass]) VALUES (3, N'Bob', N'qwerty')
GO
USE [master]
GO
